<div class="flex">
  <app-menu class="bg-background-dark"></app-menu>

  <div class="bg-login" [ngClass]="{ dark: isDark }">
    <div
      class="px-4 pt-6 z-10 relative"
      [ngClass]="{ 'dark:bg-gray-900': isDark }"
    >
      <!-- Mobile header bar -->
      <div
        *ngIf="isMobile"
        class="fixed bg-[rgb(247,251,255)] dark:bg-background-dark p-3 rounded-[24px] w-[94%] mb-16"
      >
        <!-- Header -->
        <header-common></header-common>

        <!-- Mobile header bar -->
        <div
          *ngIf="isMobile"
          class="mb-4 flex items-center justify-between gap-3"
        >
          <!-- Nút Quay lại -->
          <button
            type="button"
            class="rounded-full bg-gray-200 text-gray-700 px-2 py-1 hover:bg-gray-300 transition flex items-center w-8 h-8"
            (click)="goBack()"
            [ngClass]="{
              'dark:bg-gray-700 dark:text-gray-300 dark:hover:bg-gray-600':
                isDark
            }"
          >
            <nz-icon nzType="arrow-left" nzTheme="outline"></nz-icon>
          </button>

          <!-- Ô tìm kiếm căn giữa -->
          <input
            type="text"
            class="flex-1 border border-gray-300 rounded-[24px] px-3 py-2 mx-2"
            [(ngModel)]="searchKeyword"
            (ngModelChange)="onSearch()"
            placeholder="Tìm kiếm..."
            [ngClass]="{
              'dark:bg-gray-800 dark:text-gray-100 dark:border-gray-600': isDark
            }"
          />
          <!-- Print Button -->
          <button
            disabled
            (click)="onPrint()"
            type="button"
            class="px-3 py-2 rounded-[24px] bg-green-600 text-white hover:bg-green-700 transition whitespace-nowrap flex items-center gap-1"
          >
            <nz-icon nzType="printer" nzTheme="outline"></nz-icon>
          </button>
        </div>

        <!-- Mobile Form -->
        <div
          *ngIf="isMobile"
          class="bg-[rgba(233,233,233,0.87)] dark:bg-gray-900 flex flex-col rounded-[24px]"
        >
          <!-- Scrollable content -->
          <div class="overflow-y-auto px-3 py-4 space-y-4 max-h-[76vh]">
            <div
              class="shadow-lg rounded-[24px] overflow-hidden p-4 w-full m-1"
              [ngClass]="{ 'dark:bg-gray-900': isDark }"
            >
              <form [formGroup]="orderForm" class="space-y-4">
                <h2 class="text-secondary-light dark:text-secondary-dark">
                  Ngày tạo đơn : {{ dateToday | date : "dd/MM/yyyy" }}
                </h2>
                <!-- Các input -->
                <div>
                  <label
                    class="block mb-1 text-secondary-light dark:text-secondary-dark"
                  >
                    Tên khách hàng
                  </label>
                  <input
                    formControlName="customerName"
                    class="input-style w-full"
                    placeholder="Nhập tên khách hàng..."
                  />
                </div>

                <div>
                  <label
                    class="block mb-1 text-secondary-light dark:text-secondary-dark"
                  >
                    Số điện thoại
                  </label>
                  <input
                    formControlName="phoneNumber"
                    class="input-style w-full"
                    placeholder="Nhập số điện thoại..."
                  />
                </div>

                <div>
                  <label
                    class="block mb-1 text-secondary-light dark:text-secondary-dark"
                  >
                    Địa chỉ người nhận
                  </label>
                  <input
                    formControlName="deliveryAddress"
                    class="input-style w-full"
                    placeholder="Nhập địa chỉ khách hàng..."
                  />
                </div>

                <div>
                  <label
                    class="block mb-1 text-secondary-light dark:text-secondary-dark"
                  >
                    Ghi chú
                  </label>
                  <textarea
                    formControlName="description"
                    rows="3"
                    class="input-style w-full resize-none"
                    placeholder="Nhập ghi chú..."
                  ></textarea>
                </div>

                <div class="flex justify-end">
                  <button
                    nz-button
                    nzType="primary"
                    class="rounded-[24px] h-10 px-6"
                    [disabled]="isSubmitting || isSubmitDisabled"
                  >
                    <nz-icon nzType="save" nzTheme="outline"></nz-icon>
                    <span *ngIf="isSubmitting">Đang cập nhật...</span>
                    <span *ngIf="!isSubmitting">Cập nhật</span>
                  </button>
                </div>
              </form>

              <!-- Danh sách sản phẩm -->
              <div class="mt-4">
                <div class="flex justify-between items-center mb-2">
                  <h3
                    class="text-base font-semibold text-secondary-light dark:text-secondary-dark"
                  >
                    Sản phẩm đã chọn
                  </h3>
                  <button
                    nz-button
                    nzType="default"
                    class="rounded-[24px] h-8 px-4 text-sm"
                    (click)="addProducts()"
                  >
                    <nz-icon nzType="plus-circle" nzTheme="outline"></nz-icon>
                    Thêm
                  </button>
                </div>

                <div
                  *ngIf="listOfData.length === 0"
                  class="text-sm text-gray-500"
                >
                  Chưa có sản phẩm nào.
                </div>

                <div
                  *ngFor="let item of listOfData"
                  class="mb-2 p-3 rounded-lg bg-white shadow dark:bg-gray-800 text-sm"
                >
                  <div
                    class="font-medium text-secondary-light dark:text-secondary-dark"
                  >
                    {{ item.ProductName }}
                  </div>
                  <div class="text-secondary-light dark:text-secondary-dark">
                    <div>Mã: {{ item.ProductCode }}</div>

                    <!-- Số lượng -->
                    <div class="flex items-center gap-2">
                      <label
                        class="text-secondary-light dark:text-secondary-dark mb-0"
                        >SL:</label
                      >
                      <ng-container
                        *ngIf="editingId === item.Id; else displayQuantity"
                      >
                        <input
                          type="number"
                          min="1"
                          [(ngModel)]="editingQuantity"
                          [ngModelOptions]="{ standalone: true }"
                          class="w-20 px-2 py-1 border rounded text-black bg-white"
                          (blur)="saveEdit(item)"
                          (keydown.enter)="saveEdit(item)"
                        />
                      </ng-container>
                      <ng-template #displayQuantity>
                        <span
                          class="cursor-pointer font-semibol"
                          (click)="startEdit(item)"
                          [ngClass]="{
                            'text-danger-light dark:text-danger-dark font-bold':
                              item.Quantity <= 0,
                            'text-success-light dark:text-success-dark font-medium':
                              item.Quantity > 0,
                            'input-error': inputError
                          }"
                        >
                          {{ item.Quantity }}
                        </span>
                      </ng-template>
                    </div>
                    <div>Đơn vị: {{ item.Unit | unitText }}</div>

                    <!-- Đơn giá -->
                    <div>Đơn giá: {{ item.SalePrice ?? 0 | price }}</div>

                    <!-- Thành tiền -->
                    <div class="font-semibold text-green-400">
                      Thành tiền: {{ item.TotalPrice ?? 0 | price }}
                    </div>
                  </div>
                  <button
                    class="mt-2 text-red-500 text-xs"
                    (click)="deleteItem(item)"
                  >
                    Xóa
                  </button>
                </div>

                <!-- Tổng tiền -->
                <div
                  *ngIf="listOfData.length > 0"
                  class="mt-3 text-right font-bold text-lg text-secondary-light dark:text-secondary-dark"
                >
                  Tổng đơn hàng: {{ totalAmount ?? 0 | price }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Desktop header bar -->
      <div *ngIf="!isMobile">
        <!-- Header -->
        <header-common></header-common>
        <div class="mb-4 flex items-center justify-between gap-4">
          <!-- page name -->
          <h1
            class="text-secondary-light dark:text-secondary-dark text-xl font-bold"
          >
            Tạo đơn hàng
          </h1>

          <!-- Ô tìm kiếm căn giữa -->
          <input
            type="text"
            class="border border-gray-300 rounded-[24px] px-3 py-2 w-[58%] mx-auto"
            [(ngModel)]="searchKeyword"
            (ngModelChange)="onSearch()"
            placeholder="Tìm kiếm..."
            [ngClass]="{
              'dark:bg-gray-800 dark:text-gray-100 dark:border-gray-600': isDark
            }"
          />

          <!-- Nhóm nút -->
          <div class="flex gap-3">
            <!-- Print Button -->
            <button
              (click)="onPrint()"
              type="button"
              class="px-3 py-2 rounded-[24px] bg-green-600 text-white hover:bg-green-700 transition whitespace-nowrap flex items-center gap-1"
            >
              <nz-icon nzType="printer" nzTheme="outline"></nz-icon> In phiếu
            </button>

            <!-- Nút Quay lại -->
            <button
              type="button"
              class="rounded-full bg-gray-200 text-gray-700 px-4 py-2 hover:bg-gray-300 transition flex items-center gap-2"
              (click)="goBack()"
              [ngClass]="{
                'dark:bg-gray-700 dark:text-gray-300 dark:hover:bg-gray-600':
                  isDark
              }"
            >
              <span>Quay lại</span>
              <nz-icon nzType="arrow-right" nzTheme="outline"></nz-icon>
            </button>
          </div>
        </div>
      </div>

      <!-- desktop -->
      <div *ngIf="!isMobile">
        <div
          class="bg-background-lightblue dark:bg-background-dark shadow-lg rounded-[24px] overflow-hidden p-3 w-full"
          [ngClass]="{ 'dark:bg-gray-900': isDark }"
        >
          <div class="w-full">
            <div class="flex items-center justify-between px-3 pt-3">
              <!-- mã đơn hàng -->
              <h2 class="text-secondary-light dark:text-secondary-dark">
                Mã đơn hàng : {{ orderCode }}
              </h2>
              <!-- Ngày tạo đơn -->
              <h2 class="text-secondary-light dark:text-secondary-dark">
                Ngày tạo đơn : {{ dateToday | date : "dd/MM/yyyy" }}
              </h2>

              <!-- Trạng thái đơn hàng -->
              <div
                class="px-3 py-1 rounded-full text-sm font-medium shadow-md"
                [ngClass]="statusName | statusColor"
              >
                {{ statusName }}
              </div>
            </div>

            <form
              [formGroup]="orderForm"
              class="space-y-6 pl-3 pt-3"
              *ngIf="customer"
            >
              <div class="grid grid-cols-2 gap-4">
                <!-- Cột 1: Khách hàng -->
                <div>
                  <!-- Hàng label -->
                  <div class="flex items-center justify-between">
                    <nz-tabset
                      [(nzSelectedIndex)]="selectedTabIndex"
                      (nzSelectedIndexChange)="onTabChange($event)"
                      class="ml-3 -mt-2 text-secondary-light dark:text-secondary-dark"
                      nzSize="small"
                    >
                      <nz-tab nzTitle="Khách lẻ"></nz-tab>
                      <nz-tab nzTitle="Đại lý"></nz-tab>
                    </nz-tabset>
                  </div>

                  <!-- Input theo tab -->
                  <ng-container [ngSwitch]="selectedTabIndex">
                    <input
                      *ngSwitchCase="0"
                      formControlName="customerName"
                      class="input-style mt-2"
                      placeholder="Nhập tên khách hàng..."
                    />

                    <div *ngSwitchCase="1">
                      <input
                        formControlName="customerSearch"
                        [nzAutocomplete]="auto"
                        [(ngModel)]="searchCustomerKeyword"
                        (ngModelChange)="onSearchCustomer($event)"
                        placeholder="Tìm kiếm khách hàng..."
                        class="input-style mt-2"
                      />

                      <nz-autocomplete
                        #auto
                        (selectionChange)="onCustomerSelected($event.nzValue)"
                      >
                        <nz-auto-option
                          *ngFor="let customer of customers"
                          [nzValue]="customer"
                        >
                          {{ customer.Name }}
                        </nz-auto-option>
                      </nz-autocomplete>
                    </div>
                  </ng-container>
                </div>

                <!-- Cột 2: Số điện thoại -->
                <div>
                  <label
                    class="block mb-1 text-secondary-light dark:text-secondary-dark"
                  >
                    Số điện thoại
                  </label>
                  <input
                    formControlName="phoneNumber"
                    class="input-style mt-[28px]"
                    placeholder="Nhập số điện thoại..."
                  />
                </div>
              </div>

              <div class="grid grid-cols-2 gap-4">
                <div>
                  <label
                    class="block mb-1 text-secondary-light dark:text-secondary-dark"
                    >Địa chỉ người nhận</label
                  >
                  <input
                    formControlName="deliveryAddress"
                    class="input-style"
                    placeholder="Nhập địa chỉ khách hàng..."
                  />
                </div>

                <div>
                  <label
                    class="block mb-1 text-secondary-light dark:text-secondary-dark"
                    >Ghi chú</label
                  >
                  <textarea
                    formControlName="description"
                    rows="2"
                    cols="8"
                    class="input-style resize-none"
                    placeholder="Nhập ghi chú..."
                  ></textarea>
                </div>
              </div>

              <!-- Table Section -->
              <div class="grid grid-cols-2">
                <div>
                  <h3
                    class="text-lg font-semibold text-secondary-light dark:text-secondary-dark"
                  >
                    Danh sách sản phẩm
                  </h3>
                </div>
                <div
                  class="flex justify-end"
                  *ngIf="statusName !== 'Hoàn thành' && statusName !== 'Hủy'"
                >
                  <!-- Nút Đóng hàng -->
                  <div class="flex space-x-2">
                    <ng-container
                      *ngFor="let action of statusActions[statusName]"
                    >
                      <button
                        nz-button
                        class="items-center gap-2 whitespace-nowrap rounded-[24px] h-10 mb-3 px-4"
                        [ngClass]="action.class"
                        (click)="handleAction(action.type)"
                      >
                        <nz-icon
                          [nzType]="action.icon"
                          nzTheme="outline"
                        ></nz-icon>
                        <span>{{ action.label }}</span>
                      </button>
                    </ng-container>
                  </div>

                  <div class="flex justify-end ml-2">
                    <button
                      nz-button
                      nzType="default"
                      class="items-center gap-2 whitespace-nowrap rounded-[24px] h-10 mb-3 mr-2"
                      (click)="addProducts()"
                    >
                      <nz-icon nzType="plus-circle" nzTheme="outline"></nz-icon>
                      Thêm sản phẩm
                    </button>

                    <button
                      nz-button
                      nzType="primary"
                      class="rounded-[24px] h-10 px-6"
                      [disabled]="isSubmitting || isSubmitDisabled"
                      (click)="submitForm()"
                    >
                      <nz-icon nzType="save" nzTheme="outline"></nz-icon>
                      <span *ngIf="isSubmitting">Đang cập nhật...</span>
                      <span *ngIf="!isSubmitting">Cập nhật</span>
                    </button>
                  </div>
                </div>
              </div>

              <nz-table
                [nzData]="listOfData"
                [nzBordered]="false"
                [nzSize]="'middle'"
                [nzScroll]="{ x: '1000px', y: '300px' }"
                [nzShowPagination]="false"
              >
                <thead>
                  <tr class="text-gray-500 dark:bg-gray-700 dark:text-gray-400">
                    <th [nzWidth]="'20px'" class="text-center">STT</th>
                    <th [nzWidth]="'20px'"></th>
                    <th [nzWidth]="'80px'">Mã sản phẩm</th>
                    <th [nzWidth]="'180px'">Tên sản phẩm</th>
                    <th [nzWidth]="'80px'">Đơn vị</th>
                    <th [nzWidth]="'50px'">Số lượng</th>
                    <th [nzWidth]="'80px'">Đơn giá</th>
                    <th [nzWidth]="'80px'">Thành tiền</th>
                  </tr>
                </thead>

                <tbody>
                  <tr *ngFor="let item of listOfData; let i = index">
                    <td class="text-center">{{ i + 1 }}</td>
                    <td class="space-x-2 flex">
                      <button
                        nz-button
                        nzType="link"
                        class="text-red-600"
                        (click)="deleteItem(item)"
                      >
                        <nz-icon nzType="delete" nzTheme="outline"></nz-icon>
                      </button>
                    </td>
                    <td>{{ item.ProductCode }}</td>
                    <td>{{ item.ProductName }}</td>
                    <td>{{ item.Unit | unitText }}</td>

                    <!-- Quantity -->
                    <td
                      [ngClass]="{
                        'text-danger-light dark:text-danger-dark font-bold':
                          item.Quantity <= 0,
                        'text-success-light dark:text-success-dark font-medium':
                          item.Quantity > 0
                      }"
                      (click)="startEdit(item)"
                    >
                      <ng-container
                        *ngIf="editingId === item.Id; else displayQuantity"
                      >
                        <div class="flex items-center space-x-2">
                          <input
                            type="number"
                            min="1"
                            [(ngModel)]="editingQuantity"
                            [ngModelOptions]="{ standalone: true }"
                            [ngClass]="{ 'input-error': inputError }"
                            class="w-20 px-2 py-1 border border-gray-300 rounded"
                            (blur)="saveEdit(item)"
                            (keydown.enter)="saveEdit(item)"
                          />
                        </div>
                      </ng-container>
                      <ng-template #displayQuantity>
                        <span class="cursor-pointer">{{ item.Quantity }}</span>
                      </ng-template>
                    </td>

                    <!-- Đơn giá -->
                    <td>{{ item.SalePrice ?? 0 | price }}</td>

                    <!-- Thành tiền -->
                    <td class="font-semibold text-green-400">
                      {{ item.TotalPrice ?? 0 | price }}
                    </td>
                  </tr>
                </tbody>
              </nz-table>
              <div
                class="text-right text-xl mr-6 font-bold mt-4 text-secondary-light dark:text-secondary-dark"
              >
                Tổng hóa đơn: {{ totalAmount ?? 0 | price }}
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Bottom menu -->
    <bottom-menu class="mt-6"></bottom-menu>
    <product-popup-search
      *ngIf="isPopupSearchProducts"
      [shouldDisableProduct]="true"
      [existingProducts]="existingProductIds"
      [ProductQuantity]="false"
      (closePopup)="closeProductPopup()"
      (selectProducts)="onSelectedProducts($event)"
    ></product-popup-search>

    <!-- Nội dung in -->
    <div id="print-section" class="print-only">
      <div style="text-align: center; margin-bottom: 16px">
        <h2 style="font-size: 24px; margin: 0">VuaKong</h2>
        <h3 style="margin: 4px 0 0 0">Phiếu Xuất Kho</h3>
        <p style="margin: 0">Ngày: {{ dateToday | date : "dd/MM/yyyy" }}</p>
      </div>

      <div style="margin-bottom: 20px">
        <strong>Thông tin khách hàng:</strong>
        <table
          style="
            width: 100%;
            margin-top: 8px;
            border-collapse: collapse;
            font-size: 14px;
          "
        >
          <tr>
            <td><strong>Tên:</strong> {{ customer.name }}</td>
            <td><strong>SĐT:</strong> {{ customer.phone }}</td>
          </tr>
          <tr>
            <td><strong>Địa chỉ:</strong> {{ customer.address }}</td>
            <td><strong>Ghi chú:</strong> {{ customer.description }}</td>
          </tr>
        </table>
      </div>

      <table style="width: 100%; border-collapse: collapse; font-size: 14px">
        <thead>
          <tr>
            <th style="border: 1px solid #000; padding: 6px">STT</th>
            <th style="border: 1px solid #000; padding: 6px">Mã SP</th>
            <th style="border: 1px solid #000; padding: 6px">Tên SP</th>
            <th style="border: 1px solid #000; padding: 6px">Số lượng</th>
            <th style="border: 1px solid #000; padding: 6px">Đơn vị</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of allData; let i = index">
            <td style="border: 1px solid #000; padding: 6px">{{ i + 1 }}</td>
            <td style="border: 1px solid #000; padding: 6px">
              {{ item.ProductCode }}
            </td>
            <td style="border: 1px solid #000; padding: 6px">
              {{ item.ProductName }}
            </td>
            <td style="border: 1px solid #000; padding: 6px">
              {{ item.Quantity }}
            </td>
            <td style="border: 1px solid #000; padding: 6px">
              {{ item.Unit | unitText }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
