<div class="flex">
  <app-menu class="bg-background-dark"></app-menu>

  <div class="bg-login" [ngClass]="{ dark: isDark }">
    <div
      class="px-4 pt-6 z-10 relative"
      [ngClass]="{ 'dark:bg-gray-900': isDark }"
    >
      <!-- Mobile header bar -->
      <div
        *ngIf="isMobile"
        class="fixed bg-[rgb(247,251,255)] dark:bg-background-dark p-3 rounded-[24px] w-[94%] mb-16"
      >
        <!-- Header -->
        <header-common></header-common>

        <!-- Mobile header bar -->
        <div
          *ngIf="isMobile"
          class="mb-4 flex items-center justify-between gap-3"
        >
          <!-- Nút Quay lại -->
          <button
            type="button"
            class="rounded-full bg-gray-200 text-gray-700 px-2 py-1 hover:bg-gray-300 transition flex items-center w-8 h-8"
            (click)="goBack()"
            [ngClass]="{
              'dark:bg-gray-700 dark:text-gray-300 dark:hover:bg-gray-600':
                isDark
            }"
          >
            <nz-icon nzType="arrow-left" nzTheme="outline"></nz-icon>
          </button>

          <!-- Ô tìm kiếm căn giữa -->
          <input
            type="text"
            class="flex-1 border border-gray-300 rounded-[24px] px-3 py-2 mx-2"
            [(ngModel)]="searchKeyword"
            (ngModelChange)="onSearch()"
            placeholder="Tìm kiếm..."
            [ngClass]="{
              'dark:bg-gray-800 dark:text-gray-100 dark:border-gray-600': isDark
            }"
          />
          <!-- Print Button -->
          <button
            disabled
            (click)="onPrint()"
            type="button"
            class="px-3 py-2 rounded-[24px] bg-green-600 text-white hover:bg-green-700 transition whitespace-nowrap flex items-center gap-1"
          >
            <nz-icon nzType="printer" nzTheme="outline"></nz-icon>
          </button>
        </div>

        <!-- Mobile Form -->
        <div
          *ngIf="isMobile"
          class="bg-[rgba(233,233,233,0.87)] dark:bg-gray-900 flex flex-col rounded-[24px]"
        >
          <!-- Scrollable content -->
          <div class="overflow-y-auto px-3 py-4 space-y-4 max-h-[76vh]">
            <div
              class="shadow-lg rounded-[24px] overflow-hidden px-4 pb-4 w-full mb-1"
              [ngClass]="{ 'dark:bg-gray-900': isDark }"
            >
              <form [formGroup]="orderForm" class="space-y-4">
                <div
                  class="flex flex-col gap-2 md:flex-row md:items-center md:justify-between"
                >
                  <!-- Trạng thái đơn hàng -->
                  <div
                    class="self-center md:self-center px-3 py-1 rounded-full text-xs md:text-sm font-medium shadow-md"
                    [ngClass]="statusName | statusColor"
                  >
                    {{ statusName }}
                  </div>
                  <!-- Cột trái: Mã đơn & Ngày tạo -->
                  <div class="flex flex-col gap-1 md:flex-row md:gap-6">
                    <h2
                      class="text-secondary-light dark:text-secondary-dark text-sm md:text-base"
                    >
                      Mã đơn hàng:
                      <span class="font-semibold">{{ orderCode }}</span>
                    </h2>
                    <h2
                      class="text-secondary-light dark:text-secondary-dark text-sm md:text-base"
                    >
                      Ngày tạo:
                      <span class="font-semibold">{{
                        createdDate | date : "dd/MM/yyyy"
                      }}</span>
                    </h2>
                  </div>
                </div>

                <!-- Các input -->
                <div>
                  <label
                    class="block text-secondary-light dark:text-secondary-dark"
                  >
                    Tên khách hàng
                  </label>
                  <input
                    formControlName="customerName"
                    class="input-style"
                    placeholder="Nhập Tên khách hàng..."
                  />
                </div>

                <div>
                  <label
                    class="block text-secondary-light dark:text-secondary-dark"
                  >
                    Số điện thoại
                  </label>
                  <input
                    formControlName="phoneNumber"
                    class="input-style w-full"
                    placeholder="Nhập số điện thoại..."
                  />
                </div>

                <div>
                  <label
                    class="block mb-1 text-secondary-light dark:text-secondary-dark"
                  >
                    Địa chỉ người nhận
                  </label>
                  <input
                    formControlName="deliveryAddress"
                    class="input-style w-full"
                    placeholder="Nhập địa chỉ khách hàng..."
                  />
                </div>

                <div>
                  <label
                    class="block mb-1 text-secondary-light dark:text-secondary-dark"
                  >
                    Ghi chú
                  </label>
                  <textarea
                    formControlName="description"
                    rows="3"
                    class="input-style w-full resize-none"
                    placeholder="Nhập ghi chú..."
                  ></textarea>
                </div>

                <div
                  class="flex justify-end"
                  *ngIf="statusName !== 'Hoàn thành' && statusName !== 'Hủy'"
                >
                  <button
                    nz-button
                    nzType="primary"
                    class="rounded-[24px] h-10 px-6 w-full mb-3"
                    [disabled]="isSubmitting || isSubmitDisabled"
                    (click)="submitForm()"
                  >
                    <nz-icon nzType="save" nzTheme="outline"></nz-icon>
                    <span *ngIf="isSubmitting">Đang cập nhật...</span>
                    <span *ngIf="!isSubmitting">Cập nhật</span>
                  </button>
                </div>
              </form>
              <!-- Nút Đóng hàng -->
              <div
                class="flex flex-wrap gap-2"
                *ngIf="statusName !== 'Hoàn thành' && statusName !== 'Hủy'"
              >
                <ng-container *ngFor="let action of statusActions[statusName]">
                  <button
                    nz-button
                    class="flex-1 min-w-[45%] items-center justify-center gap-2 whitespace-nowrap rounded-[24px] h-10 px-4"
                    [ngClass]="action.class"
                    (click)="handleAction(action.type)"
                  >
                    <nz-icon [nzType]="action.icon" nzTheme="outline"></nz-icon>
                    <span>{{ action.label }}</span>
                  </button>
                </ng-container>
              </div>

              <!-- Danh sách sản phẩm -->
              <div class="mt-4">
                <div class="flex justify-between items-center mb-2">
                  <h3
                    class="text-base font-semibold text-secondary-light dark:text-secondary-dark"
                  >
                    Sản phẩm đã chọn
                  </h3>
                  <button
                    nz-button
                    nzType="default"
                    class="rounded-[24px] h-8 px-4 text-sm"
                    (click)="addProducts()"
                    *ngIf="statusName !== 'Hoàn thành' && statusName !== 'Hủy'"
                  >
                    <nz-icon nzType="plus-circle" nzTheme="outline"></nz-icon>
                    Thêm
                  </button>
                </div>

                <div
                  *ngIf="listOfData.length === 0"
                  class="text-sm text-gray-500"
                >
                  Chưa có sản phẩm nào.
                </div>

                <div
                  *ngFor="let item of listOfData"
                  class="mb-2 p-3 rounded-lg bg-white shadow dark:bg-gray-800 text-sm"
                >
                  <div
                    class="font-medium text-secondary-light dark:text-secondary-dark"
                  >
                    {{ item.ProductName }}
                  </div>
                  <div class="text-secondary-light dark:text-secondary-dark">
                    <div>Mã: {{ item.ProductCode }}</div>

                    <!-- Số lượng -->
                    <div class="flex items-center gap-2">
                      <label
                        class="text-secondary-light dark:text-secondary-dark mb-0"
                        [ngClass]="{
                          'text-danger-light dark:text-danger-dark font-bold':
                            item.Quantity <= 0,
                          'text-success-light dark:text-success-dark font-medium':
                            item.Quantity > 0
                        }"
                        (click)="startEdit(item)"
                      >
                        SL:
                      </label>

                      <ng-container
                        *ngIf="editingId === item.Id; else displayQuantity"
                      >
                        <div class="flex flex-col space-y-1">
                          <!-- Input số lượng -->
                          <div class="flex items-center space-x-2">
                            <input
                              type="number"
                              min="1"
                              [(ngModel)]="editingQuantity"
                              [ngModelOptions]="{ standalone: true }"
                              [max]="item.Available ?? null"
                              [ngClass]="{ 'input-error': inputError }"
                              class="w-20 px-2 py-1 border text-success-light dark:text-success-dark rounded"
                              (blur)="saveEdit(item)"
                              (keydown.enter)="saveEdit(item)"
                            />
                            <span class="text-xs text-gray-500">
                              ≤ {{ item.Available ?? 0 }}
                            </span>
                          </div>

                          <!-- Nếu lỗi vượt quá số khả dụng -->
                          <div
                            *ngIf="
                              editingQuantity !== null &&
                              editingQuantity > (item.Available ?? 0)
                            "
                            class="text-red-500 text-xs"
                          >
                            Không được vượt quá số khả dụng ({{
                              item.Available ?? 0
                            }})
                          </div>
                        </div>
                      </ng-container>

                      <ng-template #displayQuantity>
                        <span class="cursor-pointer">
                          {{ item.Quantity }}
                          <span class="text-gray-500 text-xs ml-1">
                            ≤ {{ item.Available ?? 0 }}
                          </span>
                        </span>
                      </ng-template>
                    </div>
                    <div>Đơn vị: {{ item.Unit | unitText }}</div>

                    <!-- Đơn giá -->
                    <div>Đơn giá: {{ item.SalePrice ?? 0 | price }}</div>

                    <!-- Thành tiền -->
                    <div class="font-semibold text-green-400">
                      Thành tiền: {{ item.TotalPrice ?? 0 | price }}
                    </div>
                  </div>
                  <button
                    class="mt-2 text-red-500 text-xs"
                    (click)="deleteItem(item)"
                  >
                    Xóa
                  </button>
                </div>

                <!-- Tổng tiền -->
                <div
                  *ngIf="listOfData.length > 0"
                  class="mt-3 text-right font-bold text-lg text-secondary-light dark:text-secondary-dark"
                >
                  Tổng đơn hàng: {{ totalAmount ?? 0 | price }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Desktop header bar -->
      <div *ngIf="!isMobile">
        <!-- Header -->
        <header-common></header-common>
        <div class="mb-4 flex items-center justify-between gap-4">
          <!-- page name -->
          <h1
            class="text-secondary-light dark:text-secondary-dark text-xl font-bold"
          >
            Cập nhật đơn hàng
          </h1>

          <!-- Ô tìm kiếm căn giữa -->
          <input
            type="text"
            class="border border-gray-300 rounded-[24px] px-3 py-2 w-[58%] mx-auto"
            [(ngModel)]="searchKeyword"
            (ngModelChange)="onSearch()"
            placeholder="Tìm kiếm..."
            [ngClass]="{
              'dark:bg-gray-800 dark:text-gray-100 dark:border-gray-600': isDark
            }"
          />

          <!-- Nhóm nút -->
          <div class="flex gap-3">
            <!-- Print Button -->
            <button
              (click)="onPrint()"
              type="button"
              class="px-3 py-2 rounded-[24px] bg-green-600 text-white hover:bg-green-700 transition whitespace-nowrap flex items-center gap-1"
            >
              <nz-icon nzType="printer" nzTheme="outline"></nz-icon> In phiếu
            </button>

            <!-- Nút Quay lại -->
            <button
              type="button"
              class="rounded-full bg-gray-200 text-gray-700 px-4 py-2 hover:bg-gray-300 transition flex items-center gap-2"
              (click)="goBack()"
              [ngClass]="{
                'dark:bg-gray-700 dark:text-gray-300 dark:hover:bg-gray-600':
                  isDark
              }"
            >
              <span>Quay lại</span>
              <nz-icon nzType="arrow-right" nzTheme="outline"></nz-icon>
            </button>
          </div>
        </div>
      </div>

      <!-- desktop -->
      <div *ngIf="!isMobile">
        <div
          class="bg-background-lightblue dark:bg-background-dark shadow-lg rounded-[24px] overflow-hidden p-3 w-full"
          [ngClass]="{ 'dark:bg-gray-900': isDark }"
        >
          <div class="w-full">
            <div class="flex items-center justify-between px-3 pt-3">
              <!-- mã đơn hàng -->
              <h2 class="text-secondary-light dark:text-secondary-dark">
                Mã đơn hàng : {{ orderCode }}
              </h2>
              <!-- Ngày tạo đơn -->
              <h2 class="text-secondary-light dark:text-secondary-dark">
                Ngày tạo đơn : {{ createdDate | date : "dd/MM/yyyy" }}
              </h2>

              <!-- Trạng thái đơn hàng -->
              <div
                class="px-3 py-1 rounded-full text-sm font-medium shadow-md"
                [ngClass]="statusName | statusColor"
              >
                {{ statusName }}
              </div>
            </div>

            <form
              [formGroup]="orderForm"
              class="space-y-6 pl-3 pt-3"
              *ngIf="customer"
            >
              <div class="grid grid-cols-2 gap-4">
                <div>
                  <label
                    class="block mb-1 text-secondary-light dark:text-secondary-dark"
                  >
                    Tên khách hàng
                  </label>
                  <input
                    formControlName="customerName"
                    class="input-style mt-[28px]"
                    placeholder="Nhập Tên khách hàng..."
                  />
                </div>

                <!-- Cột 2: Số điện thoại -->
                <div>
                  <label
                    class="block mb-1 text-secondary-light dark:text-secondary-dark"
                  >
                    Số điện thoại
                  </label>
                  <input
                    formControlName="phoneNumber"
                    class="input-style mt-[28px]"
                    placeholder="Nhập số điện thoại..."
                  />
                </div>
              </div>

              <div class="grid grid-cols-2 gap-4">
                <div>
                  <label
                    class="block mb-1 text-secondary-light dark:text-secondary-dark"
                    >Địa chỉ người nhận</label
                  >
                  <input
                    formControlName="deliveryAddress"
                    class="input-style"
                    placeholder="Nhập địa chỉ khách hàng..."
                  />
                </div>

                <div>
                  <label
                    class="block mb-1 text-secondary-light dark:text-secondary-dark"
                    >Ghi chú</label
                  >
                  <textarea
                    formControlName="description"
                    rows="2"
                    cols="8"
                    class="input-style resize-none"
                    placeholder="Nhập ghi chú..."
                  ></textarea>
                </div>
              </div>

              <!-- Table Section -->
              <div class="grid grid-cols-2">
                <div>
                  <h3
                    class="text-lg font-semibold text-secondary-light dark:text-secondary-dark"
                  >
                    Danh sách sản phẩm
                  </h3>
                </div>
                <div
                  class="flex justify-end"
                  *ngIf="statusName !== 'Hoàn thành' && statusName !== 'Hủy'"
                >
                  <!-- Nút Đóng hàng -->
                  <div class="flex space-x-2">
                    <ng-container
                      *ngFor="let action of statusActions[statusName]"
                    >
                      <button
                        nz-button
                        class="items-center gap-2 whitespace-nowrap rounded-[24px] h-10 mb-3 px-4"
                        [ngClass]="action.class"
                        (click)="handleAction(action.type)"
                      >
                        <nz-icon
                          [nzType]="action.icon"
                          nzTheme="outline"
                        ></nz-icon>
                        <span>{{ action.label }}</span>
                      </button>
                    </ng-container>
                  </div>

                  <div class="flex justify-end ml-2">
                    <button
                      nz-button
                      nzType="default"
                      class="items-center gap-2 whitespace-nowrap rounded-[24px] h-10 mb-3 mr-2"
                      (click)="addProducts()"
                    >
                      <nz-icon nzType="plus-circle" nzTheme="outline"></nz-icon>
                      Thêm sản phẩm
                    </button>

                    <button
                      nz-button
                      nzType="primary"
                      class="rounded-[24px] h-10 px-6"
                      [disabled]="isSubmitting || isSubmitDisabled"
                      (click)="submitForm()"
                    >
                      <nz-icon nzType="save" nzTheme="outline"></nz-icon>
                      <span *ngIf="isSubmitting">Đang cập nhật...</span>
                      <span *ngIf="!isSubmitting">Cập nhật</span>
                    </button>
                  </div>
                </div>
              </div>

              <nz-table
                [nzData]="listOfData"
                [nzBordered]="false"
                [nzSize]="'middle'"
                [nzScroll]="{ x: '1000px', y: '300px' }"
                [nzShowPagination]="false"
              >
                <thead>
                  <tr class="text-gray-500 dark:bg-gray-700 dark:text-gray-400">
                    <th [nzWidth]="'30px'" class="text-center">STT</th>
                    <th [nzWidth]="'20px'"></th>
                    <th [nzWidth]="'80px'">Mã sản phẩm</th>
                    <th [nzWidth]="'180px'">Tên sản phẩm</th>
                    <th [nzWidth]="'80px'">Đơn vị</th>
                    <th [nzWidth]="'100px'">Số lượng</th>
                    <th [nzWidth]="'80px'">Đơn giá</th>
                    <th [nzWidth]="'80px'">Thành tiền</th>
                  </tr>
                </thead>

                <tbody>
                  <tr *ngFor="let item of listOfData; let i = index">
                    <td class="text-center">{{ i + 1 }}</td>
                    <td class="space-x-2 flex">
                      <button
                        nz-button
                        nzType="link"
                        class="text-red-600"
                        (click)="deleteItem(item)"
                      >
                        <nz-icon nzType="delete" nzTheme="outline"></nz-icon>
                      </button>
                    </td>
                    <td>{{ item.ProductCode }}</td>
                    <td>{{ item.ProductName }}</td>
                    <td>{{ item.Unit | unitText }}</td>

                    <!-- Quantity -->
                    <td
                      [ngClass]="{
                        'text-danger-light dark:text-danger-dark font-bold':
                          item.Quantity <= 0,
                        'text-success-light dark:text-success-dark font-medium':
                          item.Quantity > 0
                      }"
                      (click)="startEdit(item)"
                    >
                      <ng-container
                        *ngIf="editingId === item.Id; else displayQuantity"
                      >
                        <div class="flex flex-col space-y-1">
                          <!-- Input số lượng -->
                          <div class="flex items-center space-x-2">
                            <input
                              type="number"
                              min="1"
                              [(ngModel)]="editingQuantity"
                              [ngModelOptions]="{ standalone: true }"
                              [max]="item.Available ?? null"
                              [ngClass]="{ 'input-error': inputError }"
                              class="w-20 px-2 py-1 border border-gray-300 rounded"
                              (blur)="saveEdit(item)"
                              (keydown.enter)="saveEdit(item)"
                            />
                            <span class="text-xs text-gray-500">
                              ≤ {{ item.Available ?? 0 }}
                            </span>
                          </div>
                          <!-- Nếu lỗi vượt quá số khả dụng -->
                          <div
                            *ngIf="
                              editingQuantity !== null &&
                              editingQuantity > (item.Available ?? 0)
                            "
                            class="text-red-500 text-xs"
                          >
                            Không được vượt quá số khả dụng ({{
                              item.Available ?? 0
                            }})
                          </div>
                        </div>
                      </ng-container>

                      <ng-template #displayQuantity>
                        <span class="cursor-pointer">
                          {{ item.Quantity }}
                          <span class="text-gray-500 text-xs ml-1">
                            ≤ {{ item.Available ?? 0 }}
                          </span>
                        </span>
                      </ng-template>
                    </td>

                    <!-- Đơn giá -->
                    <td>{{ item.SalePrice ?? 0 | price }}</td>

                    <!-- Thành tiền -->
                    <td class="font-semibold text-green-400">
                      {{ item.TotalPrice ?? 0 | price }}
                    </td>
                  </tr>
                </tbody>
              </nz-table>
              <div
                class="text-right text-xl mr-6 font-bold mt-4 text-secondary-light dark:text-secondary-dark mb-8"
              >
                Tổng hóa đơn: {{ totalAmount ?? 0 | price }}
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Bottom menu -->
    <bottom-menu class="mt-6"></bottom-menu>
    <product-popup-search
      *ngIf="isPopupSearchProducts"
      [shouldDisableProduct]="true"
      [existingProducts]="existingProductIds"
      [ProductQuantity]="false"
      (closePopup)="closeProductPopup()"
      (selectProducts)="onSelectedProducts($event)"
    ></product-popup-search>

    <!-- Nội dung in -->
    <div
      id="print-section"
      class="print-only"
      style="font-family: Arial, sans-serif; color: #000"
    >
      <!-- Header -->
      <div
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-bottom: 2px solid #000;
          padding-bottom: 10px;
          margin-bottom: 15px;
        "
      >
        <!-- Logo -->
        <div>
          <img
            src="/assets/images/logo_print_vuakong.png"
            alt="Logo"
            style="height: 50px"
          />
        </div>

        <!-- Company Info -->
        <div style="text-align: right; font-size: 13px; line-height: 1.6">
          <h2 style="margin: 0; font-size: 20px; font-weight: bold">
            VuaKong Fishing Tackel
          </h2>
          <div>
            📍 47/2 Kênh Tân Hóa, Phường Tân Thới Hòa, Quận Tân Phú, TP.HCM
          </div>
          <div>
            ☎️ 0378 887 168 &nbsp; | &nbsp; 🌐 FaceBook: VuaKong Fishing
          </div>
          <div>🧾 Mã số thuế: 0319072418</div>
        </div>
      </div>

      <!-- Title -->
      <div style="text-align: center; margin-bottom: 20px">
        <h2
          style="
            margin: 0;
            font-size: 22px;
            font-weight: bold;
            text-transform: uppercase;
          "
        >
          PHIẾU XUẤT KHO
        </h2>
        <div style="font-size: 14px; margin-top: 4px">
          Ngày: {{ createdDate | date : "dd/MM/yyyy" }}
        </div>
      </div>

      <!-- Customer Info -->
      <div style="margin-bottom: 15px; font-size: 14px">
        <strong style="text-decoration: underline">Thông tin khách hàng</strong>
        <table
          style="
            width: 100%;
            margin-top: 6px;
            border-collapse: collapse;
            table-layout: fixed;
          "
        >
          <tr>
            <td style="padding: 4px; width: 50%">
              <strong>Tên:</strong> {{ customer.name }}
            </td>
            <td style="padding: 4px; width: 50%">
              <strong>SĐT:</strong> {{ customer.phone }}
            </td>
          </tr>
          <tr>
            <td style="padding: 4px">
              <strong>Địa chỉ:</strong> {{ customer.address }}
            </td>
            <td
              style="
                padding: 4px;
                word-break: break-word;
                white-space: normal;
                max-width: 250px;
              "
            >
              <strong>Ghi chú:</strong> {{ customer.description }}
            </td>
          </tr>
        </table>
      </div>

      <!-- Product Table -->
      <table
        style="
          width: 100%;
          border-collapse: collapse;
          font-size: 14px;
          margin-bottom: 20px;
        "
      >
        <thead>
          <tr style="background-color: #f9f9f9; border: 1px solid #000">
            <th
              style="border: 1px solid #000; padding: 6px; text-align: center"
            >
              STT
            </th>
            <th
              style="border: 1px solid #000; padding: 6px; text-align: center"
            >
              Mã SP
            </th>
            <th style="border: 1px solid #000; padding: 6px; text-align: left">
              Tên SP
            </th>
            <th
              style="border: 1px solid #000; padding: 6px; text-align: center"
            >
              Số lượng
            </th>
            <th
              style="border: 1px solid #000; padding: 6px; text-align: center"
            >
              Đơn vị
            </th>
            <th style="border: 1px solid #000; padding: 6px; text-align: right">
              Đơn giá
            </th>
            <th style="border: 1px solid #000; padding: 6px; text-align: right">
              Thành tiền
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of allData; let i = index">
            <td
              style="border: 1px solid #000; padding: 6px; text-align: center"
            >
              {{ i + 1 }}
            </td>
            <td
              style="border: 1px solid #000; padding: 6px; text-align: center"
            >
              {{ item.ProductCode }}
            </td>
            <td style="border: 1px solid #000; padding: 6px">
              {{ item.ProductName }}
            </td>
            <td
              style="border: 1px solid #000; padding: 6px; text-align: center"
            >
              {{ item.Quantity }}
            </td>
            <td
              style="border: 1px solid #000; padding: 6px; text-align: center"
            >
              {{ item.Unit | unitText }}
            </td>
            <td style="border: 1px solid #000; padding: 6px; text-align: right">
              {{ item.SalePrice | price }}
            </td>
            <td style="border: 1px solid #000; padding: 6px; text-align: right">
              {{ item.TotalPrice | price }}
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td
              colspan="6"
              style="
                border: 1px solid #000;
                padding: 6px;
                text-align: right;
                font-weight: bold;
              "
            >
              Tổng cộng
            </td>
            <td
              style="
                border: 1px solid #000;
                padding: 6px;
                text-align: right;
                font-weight: bold;
              "
            >
              {{ totalAmount | price }}
            </td>
          </tr>
        </tfoot>
      </table>

      <!-- Footer: Signatures
      <div
        style="
          display: flex;
          justify-content: space-between;
          text-align: center;
          font-size: 14px;
          margin-top: 40px;
        "
      >
        <div style="width: 30%">
          <strong>Người lập phiếu</strong><br /><em>(Ký, ghi rõ họ tên)</em>
        </div>
        <div style="width: 30%">
          <strong>Thủ kho</strong><br /><em>(Ký, ghi rõ họ tên)</em>
        </div>
        <div style="width: 30%">
          <strong>Khách hàng</strong><br /><em>(Ký, ghi rõ họ tên)</em>
        </div>
      </div>
    </div> -->
    </div>
  </div>
</div>
