<nav
  class="hidden md:flex gap-8 text-sm font-medium text-text-secondary-light dark:text-text-secondary-dark md:justify-end"
>
  <a
    class="transition-all duration-200 hover:text-primary-light dark:hover:text-primary-dark"
    href="/dashboard"
    >Quản lý</a
  >
  <a
    class="transition-all duration-200 hover:text-primary-light dark:hover:text-primary-dark"
    href="/dashboard"
    >FAB</a
  >
  <a
    class="transition-all duration-200 hover:text-primary-light dark:hover:text-primary-dark"
    href="/user-information"
    >Tôi</a
  >
</nav>
