<div
  class="fixed inset-0 bg-black/30 backdrop-blur-sm flex items-center justify-center z-[9999]"
>
  <div
    class="bg-card-bg-light dark:bg-card-bg-dark rounded-[24px] shadow-[0_10px_40px_rgba(0,0,0,0.1)] backdrop-blur-xl w-full max-w-3xl m-14 p-6 relative border border-white/40"
  >
    <!-- Nút đóng -->
    <button
      (click)="close()"
      class="absolute top-3 right-4 text-neutral-500 dark:text-neutral-300 hover:text-danger-light dark:hover:text-danger-dark text-xl"
    >
      ✕
    </button>

    <!-- Tiêu đề -->
    <h2
      class="text-xl font-bold text-text-primary-light dark:text-text-primary-dark mb-6 text-center"
    >
      Quản lý sản phẩm
    </h2>

    <!-- Danh sách ô chức năng -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <!-- Box 1: Sản phẩm -->
      <div
        class="bg-gradient-to-l from-vkStart to-vkEnd dark:from-vkDarkStart dark:to-vkDarkEnd rounded-[24px] p-5 border border-white/50 shadow-md hover:shadow-lg transition duration-300 cursor-pointer"
      >
        <a routerLink="/product">
          <h3
            class="font-semibold text-white text-lg flex items-center gap-2 justify-center"
          >
            🎣 Sản phẩm
          </h3>
        </a>
      </div>

      <!-- Box 2: Loại sản phẩm -->
      <a
        routerLink="/product-category"
        class="bg-gradient-to-l from-vkStart to-vkEnd dark:from-vkDarkStart dark:to-vkDarkEnd rounded-[24px] p-5 border border-white/50 shadow-md hover:shadow-lg transition duration-300 cursor-pointer block"
      >
        <h3
          class="font-semibold text-white text-lg flex items-center gap-2 justify-center"
        >
          🛍️ Loại sản phẩm
        </h3>
      </a>
    </div>
  </div>
</div>
