<!-- <button
  type="button"
  class="rounded-full bg-gray-200 text-gray-700 px-2 py-1 hover:bg-gray-300 transition flex items-center w-8 h-8"
  (click)="goBack()"
  [ngClass]="{
    'dark:bg-gray-700 dark:text-gray-300 dark:hover:bg-gray-600': isDark
  }"
>
  <nz-icon nzType="arrow-left" nzTheme="outline"></nz-icon>
</button>

<input
  type="text"
  class="flex-1 border border-gray-300 rounded-[24px] px-3 py-2 mx-2"
  [(ngModel)]="searchKeyword"
  (ngModelChange)="onSearch()"
  placeholder="Tìm kiếm..."
  [ngClass]="{
    'dark:bg-gray-800 dark:text-gray-100 dark:border-gray-600': isDark
  }"
/> -->
