<header
  class="flex items-center justify-between mb-4 gap-3 bg-background-light dark:bg-background-dark rounded-[22px] px-3 py-2 md:px-4 md:py-1 transition-colors duration-500 z-[9998]"
>
  <div class="flex min-w-0 items-center">
    <!-- logo -->
    <img
      src="assets/images/logo_vuakong.png"
      alt="logo"
      class="w-10 mr-2 transition duration-300"
    />

    <a routerLink="/dashboard">
      <h1
        class="max-w-[52vw] truncate text-xl md:text-2xl font-bold bg-gradient-to-l from-vkStart to-vkEnd bg-clip-text text-transparent dark:text-secondary-dark"
      >
        {{ nameStore }}
      </h1>
    </a>
  <notification class="md:hidden ml-3 flex-shrink-0"></notification>

  </div>
  <div class="hidden md:flex items-center gap-9">
    <top-menu></top-menu>
    <notification></notification>
    <dark-mode-toggle></dark-mode-toggle>
  </div>
</header>
