
.type {
    position: fixed;
    z-index: 9999;
}

nz-float-button {
    bottom: 8%;
    right: 24px;
    width: 56px;
    height: 56px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}



::ng-deep .ant-modal-content {
  background-color: rgba(211, 231, 251, 0.492);
  border-radius: 24px;
  backdrop-filter: blur(8px); 
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}
::ng-deep .ant-modal-confirm-btns .ant-btn {
  border-radius: 24px; 
}

@media (max-width: 767px) {
    .ant-modal {
        max-width: calc(100vw - 16px);
        margin: 50% auto;
    }
}