<div class="flex">
  <app-menu class="bg-background-dark"></app-menu>

  <div class="bg-login w-full" [ngClass]="{ dark: isDark }">
    <div
      class="max-h-[800px] overflow-y-auto px-4 pt-6 z-10 relative"
      [ngClass]="{ 'dark:bg-gray-900': isDark }"
    >
      <!-- Header -->
      <header-common></header-common>

      <!-- Biểu đồ -->
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mt-6">
        <!-- Biểu đồ tròn: Tỉ lệ đơn hàng -->
        <div class="bg-white dark:bg-gray-800 p-6 rounded-xl shadow-md">
          <h2 class="text-xl font-semibold text-gray-800 dark:text-white mb-4">
            Tỉ lệ đơn hàng theo trạng thái
          </h2>
          <canvas
            baseChart
            [data]="pieChartData"
            [type]="pieChartType"
            [options]="{ responsive: true }"
          >
          </canvas>
        </div>

        <!-- Biểu đồ cột: Doanh thu -->
        <div class="bg-white dark:bg-gray-800 p-6 rounded-xl shadow-md">
          <h2 class="text-xl font-semibold text-gray-800 dark:text-white mb-4">
            Doanh thu theo tháng
          </h2>
          <canvas
            baseChart
            [data]="barChartData"
            [options]="barChartOptions"
            chartType="bar"
          >
          </canvas>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Bottom menu -->
<bottom-menu class="mt-6"></bottom-menu>
