@import 'ngx-toastr/toastr';
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

#toast-container {
  z-index: 99999 !important;
}

.ant-table,
.ant-pagination {
  border-radius: 24px !important;
  overflow: hidden;
}

.ant-pagination-item {
  border-radius: 24px !important;
}

.ant-pagination-disabled .ant-pagination-item-link,
.ant-pagination-disabled:hover .ant-pagination-item-link,
.ant-pagination-prev .ant-pagination-item-link,
.ant-pagination-next .ant-pagination-item-link {
  border-radius: 24px;
}