<div class="bg-login" [ngClass]="{ dark: isDark }">
  <div
    class="max-h-[700px] overflow-y-auto px-4 pt-6 z-10 relative"
    [ngClass]="{ 'dark:bg-gray-900': isDark }"
  >
    <!-- Header -->
    <header-common></header-common>

    <!-- Mobile header bar -->
    <div *ngIf="isMobile" class="mb-4 flex items-center justify-between gap-3">
      <!-- Nút Quay lại -->
      <button
        type="button"
        class="rounded-full bg-gray-200 text-gray-700 px-2 py-1 hover:bg-gray-300 transition flex items-center w-8 h-8"
        (click)="goBack()"
        [ngClass]="{
          'dark:bg-gray-700 dark:text-gray-300 dark:hover:bg-gray-600': isDark
        }"
      >
        <nz-icon nzType="arrow-left" nzTheme="outline"></nz-icon>
      </button>

      <!-- Ô tìm kiếm căn giữa -->
      <input
        type="text"
        class="flex-1 border border-gray-300 rounded-[24px] px-3 py-2 mx-2"
        [(ngModel)]="searchKeyword"
        (ngModelChange)="onSearch()"
        placeholder="Tìm kiếm..."
        [ngClass]="{
          'dark:bg-gray-800 dark:text-gray-100 dark:border-gray-600': isDark
        }"
      />

      <!-- Nút Excel -->
      <button
        type="button"
        class="px-3 py-2 rounded-[24px] bg-green-600 text-white hover:bg-green-700 transition whitespace-nowrap flex items-center gap-1"
        (click)="exportToExcel()"
      >
        <nz-icon nzType="file-excel" nzTheme="outline"></nz-icon>
      </button>
    </div>

    <!-- Desktop header bar -->
    <div *ngIf="!isMobile">
      <div class="mb-4 flex items-center justify-between gap-4">
        <!-- page name -->
        <h1
          class="text-secondary-light dark:text-secondary-dark text-2xl font-bold"
        >
          Sản phẩm
        </h1>

        <!-- Ô tìm kiếm căn giữa -->
        <input
          type="text"
          class="border border-gray-300 rounded-[24px] px-3 py-2 w-[58%] mx-auto"
          [(ngModel)]="searchKeyword"
          (ngModelChange)="onSearch()"
          placeholder="Tìm kiếm..."
          [ngClass]="{
            'dark:bg-gray-800 dark:text-gray-100 dark:border-gray-600': isDark
          }"
        />

        <!-- Nhóm nút -->
        <div class="flex gap-3">
          <button
            nz-button
            nzType="primary"
            class="flex items-center gap-2 whitespace-nowrap rounded-[24px] h-10"
            (click)="createProduct()"
          >
            <nz-icon nzType="plus-circle" nzTheme="outline"></nz-icon>
            Tạo mới
          </button>

          <button
            type="button"
            class="px-4 py-2 rounded-[24px] bg-green-600 text-white hover:bg-green-700 transition flex items-center gap-2 h-10"
            (click)="exportToExcel()"
          >
            <nz-icon nzType="file-excel" nzTheme="outline"></nz-icon>
            Xuất Excel
          </button>

          <!-- Nút Quay lại -->
          <button
            type="button"
            class="rounded-full bg-gray-200 text-gray-700 px-4 py-2 hover:bg-gray-300 transition flex items-center gap-2"
            (click)="goBack()"
            [ngClass]="{
              'dark:bg-gray-700 dark:text-gray-300 dark:hover:bg-gray-600':
                isDark
            }"
          >
            <span>Quay lại</span>
            <nz-icon nzType="arrow-right" nzTheme="outline"></nz-icon>
          </button>
        </div>
      </div>
    </div>

    <!-- Mobile Table -->
    <div *ngIf="isMobile">
      <div
        class="overflow-x-auto rounded-[24px] shadow-sm bg-[rgba(187,213,237,0.33)] p-3 w-full"
        [ngClass]="{ 'dark:bg-gray-900': isDark }"
      >
        <nz-table
          [nzData]="listOfData"
          [nzScroll]="{ x: '1000px', y: '400px' }"
          [nzPageSize]="10"
          [nzFrontPagination]="true"
          [nzLoading]="isLoading"
          (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
        >
          <thead>
            <tr
              class="bg-gray-100 text-gray-700"
              [ngClass]="{ 'dark:bg-gray-800 dark:text-gray-200': isDark }"
            >
              <th
                [nzSelections]="listOfSelection"
                [(nzChecked)]="checked"
                [nzIndeterminate]="indeterminate"
                (nzCheckedChange)="onAllChecked($event)"
                [nzWidth]="'50px'"
              ></th>
              <th [nzWidth]="'40px'"></th>
              <th [nzWidth]="'120px'">Mã</th>
              <th [nzWidth]="'240px'">Tên</th>
              <th [nzWidth]="'150px'">Số lượng tồn kho</th>
              <th [nzWidth]="'80px'">Đơn vị</th>
              <!-- <th [nzWidth]="'150px'">Nhà cung cấp</th> -->
              <th [nzWidth]="'150px'">Loại SP</th>
              <th [nzWidth]="'180px'">Mô tả</th>
              <th [nzWidth]="'120px'">Ngày tạo</th>
              <th [nzWidth]="'120px'">Ngày cập nhật</th>
              <th [nzWidth]="'180px'">Trạng thái</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let item of listOfCurrentPageData; trackBy: trackById"
              class="hover:bg-gray-50 transition-all duration-150"
              [ngClass]="{ 'dark:hover:bg-gray-800': isDark }"
            >
              <td class="text-center">
                <label
                  nz-checkbox
                  [nzChecked]="setOfCheckedId.has(item.Id)"
                  (nzCheckedChange)="onItemChecked(item.Id, $event)"
                ></label>
              </td>
              <td class="relative">
                <button class="icon-button" (click)="toggleDropdown(item)">
                  ⋮
                </button>

                <div
                  class="dropdown-menu flex"
                  *ngIf="item === activeDropdown"
                  (mouseleave)="closeDropdown()"
                >
                  <div class="dropdown-item" (click)="viewDetail(item)">
                    <nz-icon nzType="edit" nzTheme="outline"></nz-icon>
                  </div>
                  <div class="dropdown-item" (click)="deleteProduct(item)">
                    <nz-icon nzType="delete" nzTheme="outline"></nz-icon>
                  </div>
                </div>
              </td>
              <td>{{ item.Code }}</td>
              <td>
                {{
                  item.Name.length > 24
                    ? (item.Name | slice : 0 : 24) + "..."
                    : item.Name
                }}
              </td>
              <td
                [ngClass]="{
                  'text-danger-light dark:text-danger-dark font-bold':
                    item.Quantity < 10,
                  'text-warning-light dark:text-warning-dark font-semibold':
                    item.Quantity >= 10 && item.Quantity < 30,
                  'text-success-light dark:text-success-dark font-medium':
                    item.Quantity >= 10
                }"
              >
                {{ item.Quantity }}
              </td>

              <td>{{ item.Unit | unitText }}</td>
              <td>{{ item.ProductCategoryName }}</td>
              <td>
                {{
                  item.Description.length > 10
                    ? (item.Description | slice : 0 : 10) + "..."
                    : item.Description
                }}
              </td>
              <td>{{ item.CreatedDate | date : "dd/MM/yyyy" }}</td>
              <td>{{ item.UpdatedDate | date : "dd/MM/yyyy" }}</td>
              <td>
                <span
                  [ngClass]="
                    item.IsActive
                      ? 'text-red-600 font-medium'
                      : 'text-green-600 font-medium'
                  "
                >
                  {{ item.IsActive ? "🔴 Ngưng hoạt động" : "🟢 Hoạt động" }}
                </span>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </div>
    </div>

    <!-- 💻 Desktop layout -->
    <div *ngIf="!isMobile">
      <div
        class="bg-[rgba(187,213,237,0.33)] shadow-lg rounded-[24px] overflow-hidden p-2"
        [ngClass]="{ 'dark:bg-gray-900': isDark }"
      >
        <nz-table
          [nzData]="listOfData"
          [nzScroll]="{ y: '400px' }"
          [nzPageSize]="10"
          [nzFrontPagination]="true"
          [nzLoading]="isLoading"
          (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
        >
          <thead>
            <tr
              class="bg-gray-100 text-gray-700"
              [ngClass]="{ 'dark:bg-gray-800 dark:text-gray-200': isDark }"
            >
              <th
                [nzSelections]="listOfSelection"
                [(nzChecked)]="checked"
                [nzIndeterminate]="indeterminate"
                (nzCheckedChange)="onAllChecked($event)"
                [nzWidth]="'50px'"
              ></th>
              <th [nzWidth]="'40px'"></th>
              <th [nzWidth]="'120px'">Mã</th>
              <th [nzWidth]="'240px'">Tên</th>
              <th [nzWidth]="'150px'">Số lượng tồn kho</th>
              <th [nzWidth]="'80px'">Đơn vị</th>
              <!-- <th [nzWidth]="'150px'">Nhà cung cấp</th> -->
              <th [nzWidth]="'150px'">Loại SP</th>
              <th [nzWidth]="'180px'">Mô tả</th>
              <th [nzWidth]="'120px'">Ngày tạo</th>
              <th [nzWidth]="'120px'">Ngày cập nhật</th>
              <th [nzWidth]="'200px'">Trạng thái</th>
            </tr>
          </thead>

          <tbody>
            <tr
              *ngFor="let item of listOfCurrentPageData; trackBy: trackById"
              class="hover:bg-gray-50 transition-all duration-150"
              [ngClass]="{ 'dark:hover:bg-gray-800': isDark }"
            >
              <td class="text-center">
                <label
                  nz-checkbox
                  [nzChecked]="setOfCheckedId.has(item.Id)"
                  (nzCheckedChange)="onItemChecked(item.Id, $event)"
                ></label>
              </td>
              <td class="relative">
                <button class="icon-button" (click)="toggleDropdown(item)">
                  ⋮
                </button>

                <div
                  class="dropdown-menu flex"
                  *ngIf="item === activeDropdown"
                  (mouseleave)="closeDropdown()"
                >
                  <div class="dropdown-item" (click)="viewDetail(item)">
                    <nz-icon nzType="edit" nzTheme="outline"></nz-icon>
                  </div>
                  <div class="dropdown-item" (click)="deleteProduct(item)">
                    <nz-icon nzType="delete" nzTheme="outline"></nz-icon>
                  </div>
                </div>
              </td>
              <td>{{ item.Code }}</td>
              <td>
                {{
                  item.Name.length > 24
                    ? (item.Name | slice : 0 : 24) + "..."
                    : item.Name
                }}
              </td>
              <td
                [ngClass]="{
                  'text-danger-light dark:text-danger-dark font-bold':
                    item.Quantity < 10,
                  'text-warning-light dark:text-warning-dark font-semibold':
                    item.Quantity >= 10 && item.Quantity < 30,
                  'text-success-light dark:text-success-dark font-medium':
                    item.Quantity >= 10
                }"
              >
                {{ item.Quantity }}
              </td>

              <td>{{ item.Unit | unitText }}</td>
              <td>{{ item.ProductCategoryName }}</td>
              <td>
                {{
                  item.Description.length > 14
                    ? (item.Description | slice : 0 : 14) + "..."
                    : item.Description
                }}
              </td>
              <td>{{ item.CreatedDate | date : "dd/MM/yyyy" }}</td>
              <td>{{ item.UpdatedDate | date : "dd/MM/yyyy" }}</td>
              <td>
                <span
                  [ngClass]="
                    item.IsActive
                      ? 'text-red-600 font-medium'
                      : 'text-green-600 font-medium'
                  "
                >
                  {{ item.IsActive ? "🔴 Ngưng hoạt động" : "🟢 Hoạt động" }}
                </span>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </div>
    </div>

    <!-- Mobile Float Button -->
    <div *ngIf="isMobile" class="type">
      <nz-float-button
        nzType="primary"
        style="right: 24px"
        [nzIcon]="icon"
        (click)="createProduct()"
      ></nz-float-button>
      <ng-template #icon>
        <nz-icon nzType="plus-circle" nzTheme="outline"></nz-icon>
      </ng-template>
    </div>

    <!-- Bottom menu -->
    <bottom-menu class="mt-6"></bottom-menu>
  </div>
</div>
<!-- popup create -->
<product-popup-create
  *ngIf="showPopupCreate"
  (closePopupCreate)="closeProductPopupCreate()"
  (create)="onRefetch()"
></product-popup-create>

<!-- popup update -->
<product-popup-update
  *ngIf="showPopup"
  [data]="selectedItem"
  (closePopup)="closeProductDetailPopup()"
  (update)="onRefetch()"
></product-popup-update>
